
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@300;400;700&display=swap');

:root{
    /* Colours */
    --colour-charcoal: rgba(20, 20, 20, 1);
    --colour-transparent: #0000;
    --colour-nav-base: #555f;
    --colour-nav: #000;
    --colour-nav-base-hover: #222f;
    --colour-nav-hover: #555f;

    --main-top: 160px;
    --main-display: initial;
    --menu-visibility: visible;
    --nav-display: initial;

    --bg-gradient-top-transition-start: 240px;
    --bg-gradient-top-transition-stop: 260px;

}

html{
    scroll-behavior: smooth;
}

*{
    /*
    background-color: #0003;
    */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Rokkitt', 'Helvetica Neue';
}

.hidden{
    display: none;
}

.background-image{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url("images/main-background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    z-index: -3;
}

.background-gradient{
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(black var(--bg-gradient-top-transition-start), rgba(0,0,0,0.1) var(--bg-gradient-top-transition-stop), rgba(0,0,0,0.5) calc(100% - 90px), black calc(100% - 70px));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}

hr {
    border: 1px solid white;
    display: relative;
}

header{
    position: sticky;
    top: 0px;
    width: 100%;
    height: 100px;
    color: #fff;
    transition: all 0.5s ease-out;
    z-index: 2;
}

header h1{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
    width: 100%;
    position: absolute;
    top: 30px;
}

header hr{
    width: 100%;
    position: absolute;
    bottom: -1px;
}

nav{
    position: fixed;
    top: 100px;
    margin-top: 20px;
    margin-left: calc(50% - 350px);
    max-width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
    z-index: 2;
}

nav button{
    background: linear-gradient(var(--colour-nav-base), var(--colour-nav));
    color: #fff;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    position: relative;
    /*
    transition: background 0.5s linear;
    */
}

nav button{
    display: initial;
    border: 1px solid #fff;
    border-radius: 25px;
}

nav button:hover{
    background: linear-gradient(var(--colour-nav-base-hover), var(--colour-nav-hover));
}

nav button::before, nav button::after{
    content: "";
    background: #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 15px;
    z-index: 10;
    display: var(--nav-display);
}
nav button::before{
    left: 10px;
}

nav button::after{
    right: 10px;

}

nav button span{
    display: var(--nav-display);
}

main{
    margin-top: var(--main-top);
    margin-left: calc(50% - 350px);
    max-width: 700px;
    
    background: url(images/menu-background-02.jpg);
    background-size: auto;

    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 20px;

    box-shadow: 0px 10px 20px -5px;

    position: relative;
    margin-bottom: 100px;
    
}

.menu, .content{
    padding: 10px;
}

h2{
    font-size: 1.5rem;
    width: fit-content;
    margin: auto auto 5px auto;
}

.menu hr, .content hr{
    border: 1px solid black;
    margin: 0% 25% 20px 25%;
}

.menu ul li{
    list-style-type: none;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.menu ul li hr
{
    display: none;
}

.menu dl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'name name name'
        'desc pic ingr'
        'desc pic pricing';
    grid-gap: 5px;
}

.menu dt{
    grid-area: name;
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.menu dd{
    grid-area: desc;
    text-align: right;
}

.menu dd:nth-of-type(2){
    grid-area: pic;
    text-align: center;
}

.menu dd:nth-of-type(3){
    grid-area: ingr;
    text-align: left;
}

.menu dd:nth-of-type(3) h4{
    margin-bottom: 5px;
}

.menu dd:nth-of-type(4){
    grid-area: pricing;
    text-align: left;
    margin-top: 5px;
}

div:has( > .image-story),
dd:has( > .image-menu-item) {
    background-color: red;
    width: 200px;
    height: 150px;
    
    border: 3px solid rgb(20,20,20);
    border-radius: 10px;
    background-clip: padding-box;
    box-shadow: 0px 10px 10px -5px black;
    margin: auto;
    margin-bottom: 15px;

    overflow: hidden;
}

.image-menu-item{
    width: 100%;
    /*
    aspect-ratio: 1.5;
    */
}

.image-menu-item-after, .image-menu-item-before{
    position: absolute;
    bottom: 0px;
    background-color: #ffffff;
    width: 200px;
    height: 30px;
    z-index: 10;
}

.image-menu-item-after{
    transform: rotateZ(10deg);
    left: 0px;
}

.image-menu-item-before{
    transform: rotateZ(-10deg);
    right: 0px;
}

.content fieldset{
    width: 100%;
    line-height: .9rem;
    padding: 10px;
    text-align: justify;
    border: none;
    border-top: 3px solid #000;
    margin-top: 30px;
}

.content legend{
    text-align: center;
    font-size: 1.3rem;
    padding: 10px 10px;
}

div:has( > .image-story)
{
    float: left;
    margin-right: 20px;
    width: 300px;
    height: 200px;
    padding: 0px;
}

div:has( > .image-story-2, > .image-story-4){
    float: right;
    margin-left: 20px;
}
/*
*/
.image-story{
    width: 100%;
}

/* GET IN TOUCH */
.content-contact fieldset
{

}

.content-contact legend
{
    text-align: left;
}

.content-contact fieldset p
{
    text-indent: 20px;
}

/* LOCALE */
.gmap_canvas{
    overflow:hidden;
    background:none!important;
    border-radius: 20px;
    border: 2px solid #000;
    background-clip: padding-box;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

footer button{
    border: 2px solid #0000;
    border-radius: 25px;
    background: #0000;
    color: #fff;
    width: 150px;
    height: 50px;
    margin: 0px 10px;
    font-size: 1.5rem;
    position: relative;
}

footer button:hover{
    background: #fff3;
    border: 2px solid #fff;
}

footer hr{
    position: absolute;
    bottom: 0px;
    width: 100%;
    border: 2px solid white;
}

@media only screen and (max-width: 750px) {
    
    
    /*
    This will select parents with x number of children using css only
    div:has(:last-child:nth-child())
    */

    :root{
        --main-top: 120px;
        --bg-gradient-top-transition-start: 170px;
        --bg-gradient-top-transition-stop: 190px;
    }
    
    header{
        height: 75px;
    }

    header h1{
        font-size: 1.5rem;
        top: 25px;
    }

    nav{
        top: 75px;
        width: 500px;
        margin-left: calc(50% - 250px);
        row-gap: 10px;
    }

    nav button{
        font-size: 1rem;
        width: 150px;
        height: 2rem;
    }

    .button-nav::before, .button-nav::after{
        top: 7px;
    }

    main{
        width: 500px;
        margin-left: calc(50% - 250px);
    }
}

@media only screen and (max-width: 550px) {
    
    :root{
        --nav-display: none;
        --main-top: 90px;
        --bg-gradient-top-transition-start: 135px;
        --bg-gradient-top-transition-stop: 155px;
    }

    header h1{
        top: 25px;
    }

    nav{
        width: 400px;
        margin-left: calc(50% - 200px);
    }

    nav button{
        width: 50px;
    }
    .button-nav-beverages{
        width: 100px;
    }

    main{
        width: 90%;
        margin-left: 5%;
    }

    .menu ul li{
        width: 100%;
        text-align: center;
        margin: 20px 0px;
    }
    
    .menu ul li hr
    {
        color:rgba(20, 20, 20, 1);
        position: relative;
        bottom: -18px;
    }

    div:has( > .image-story),
    dd:has( > .image-menu-item){
        float: top;
        margin: 10px 0px 20px;
        width: 100%;
    }

    .image-story{
        width: 100%;
        height: auto;
        transform: translateY(-50px);
    }

}